:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/*
Inline elements by default have their vertical-align set to baseline. This leaves a little space below all the images, this removes that

https://stackoverflow.com/a/34952703
*/

img {
  vertical-align: bottom;
}

ul {
  min-height: 100vh;
  background-color: #f7f0da;

  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    '. . . header'
    'main main . sidebar'
    'footer footer footer footer';
}

.A {
  grid-area: footer;
}

.B {
  grid-area: main;
}

.C {
  grid-area: sidebar;
}

.D {
  grid-area: header;
}
