:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/*
Inline elements by default have their vertical-align set to baseline. This leaves a little space below all the images, this removes that

https://stackoverflow.com/a/34952703
*/

img {
  vertical-align: bottom;
}

ul {
  min-height: 100vh;
  background-color: #f7f0da;

  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  /*
   Flexibly (along ONE axis) control the
     layout of MY CHILDREN
  */
  display: flex;
}

/* ul li { */
/* display: inline; */
/*      TB  LR */
/* margin: 0 1rem; */

/* float: left;
  padding: 0 1rem; */
/* } */
